@import url('https://fonts.cdnfonts.com/css/konstant-grotesk');
@import url('https://fonts.googleapis.com/css?family=Inter');

@font-family: 'Konstant Grotesk', 'Inter';
                                                


body {
    font-family: Konstant Grotesk, Inter;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
}

caption {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

th, td {
    border: 10px solid #215cff;
    padding: 8px;
    text-align: left;
    color: #215cff;
    font-family: Inter;
}

th {
    background-color: #fff;
    
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.button-container {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    
}

button {
    background-color: #215cff;
    font-family: Konstant Grotesk;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #003ada;
}

h1 {
    font-size: 32px;
    text-align: center;
    margin-top: 20px;
    color: #215cff;
}

.table-container {
    max-height: 220px;
    overflow-y: auto;
}

